*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}
nav{
    width: 11.0625rem;
    min-height: 100vh;
    flex-shrink: 0;
    background: var(--black, #222125);
    position: fixed;
}
.tower svg{
    width: 1.30rem;
    height: 2.30rem;
}
.tower h1{
    color: var(--white, #FEFFFB);
    font-family: 'Lilita One', cursive;
    font-size: 1.50rem;
    font-weight: 10;
    line-height: normal;
    letter-spacing: 0.0225rem;
}
.tower{
    margin-top: 0.80rem;
    margin-left: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.70rem;
    padding-bottom: 1rem;    
}
.sideNav li:hover{
    border: solid #c2ff514d;
    background-color: #c2ff5111;
    border-left: none;
    border-right: none;
    padding-bottom: 0.30rem;
    padding-top: 0.20rem;
    cursor: pointer;
    transition: ease-in-out 0.12s;
}

.sideMenu h6{
    color: var(--grey-text, #BCBCBC);
    font-size: 0.70rem;
    font-weight: 700;
    font-family: 'Mooli', sans-serif;
    letter-spacing: 0.01rem;
    padding-left: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sideMenu li{
   padding-left: 1rem;
   margin-bottom: 0.90rem;
}

.dashboard{
    display: flex;
    align-items: center;
}
.dashboard a{
    padding-left: 0.70rem;
    color: var(--white, #FEFFFB);
    font-size: 0.80rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-decoration: none;
    font-family: 'Mooli', sans-serif;
}
.dashboard svg{
    width: 1rem;
    height: 1.30rem;
    color: var(--grey-text, #BCBCBC);
}

.sideEmployees{
    display: flex;
    align-items: center;
}
.sideEmployees a{
    padding-left: 0.70rem;
    color: var(--white, #FEFFFB);
    font-size: 0.80rem;
    font-style: normal;
    font-family: 'Mooli', sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-decoration: none;
}
.sideEmployees svg{
    width: 1rem;
    height: 1.30rem;
}

.sideMessages{
    display: flex;
    align-items: center;
}
.sideMessages a{
    padding-left: 0.70rem;
    color: var(--white, #FEFFFB);
    font-size: 0.80rem;
    font-style: normal;
    font-weight: 500;
    font-family: 'Mooli', sans-serif;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-decoration: none;
}
.sideMessages svg{
    width: 1rem;
    height: 1.30rem;
}



.sideSchedule{
    display: flex;
    align-items: center;
}
.sideSchedule a{
    padding-left: 0.70rem;
    color: var(--white, #FEFFFB);
    font-size: 0.80rem;
    font-style: normal;
    font-family: 'Mooli', sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-decoration: none;
}
.sideSchedule svg{
    width: 1rem;
    height: 1.30rem;
}


.sidePayroll{
    display: flex;
    align-items: center;
}
.sidePayroll a{
    padding-left: 0.70rem;
    color: var(--white, #FEFFFB);
    font-size: 0.80rem;
    font-family: 'Mooli', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-decoration: none;
}
.sidePayroll svg{
    width: 1rem;
    height: 1.30rem;
}
.sideRecruitment li{
    padding-left: 1rem;
    margin-bottom: 0.90rem;
}

.sideRecruitment h6{
    color: var(--grey-text, #BCBCBC);
    font-size: 0.70rem;
    font-style: normal;
    font-family: 'Mooli', sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.01rem;
    padding: 0.90rem;
}

.sideRecruitment li{
    padding-left: 1rem;
    margin-bottom: 0.90rem;
}
.jobs{
    display: flex;
    align-items: center;
}
.jobs a{
    padding-left: 0.70rem;
    color: var(--white, #FEFFFB);
    font-size: 0.80rem;
    font-style: normal;
    font-weight: 500;
    font-family: 'Mooli', sans-serif;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-decoration: none; 
}
.jobs svg{
    width: 0.90rem;
    height: 1.30rem;
}

.sideInterviews{
    display: flex;
    align-items: center;
}
.sideInterviews a{
    padding-left: 0.70rem;
    color: var(--white, #FEFFFB);
    font-size: 0.80rem;
    font-style: normal;
    font-weight: 500;
    font-family: 'Mooli', sans-serif;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-decoration: none; 
}
.sideInterviews svg{
    width: 1rem;
    height: 1.30rem;
}
.other li{
    padding-left: 1rem;
    margin-bottom: 0.90rem;
}

.other h6{
    color: var(--grey-text, #BCBCBC);
    font-size: 0.70rem;
    font-style: normal;
    font-weight: 700;
    font-family: 'Mooli', sans-serif;
    line-height: normal;
    letter-spacing: 0.01rem;
    padding: 0.90rem;
}

.sideSettings{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.sideSettings a{
    padding-left: 0.70rem;
    color: var(--white, #FEFFFB);
    font-size: 0.80rem;
    font-style: normal;
    font-weight: 500;
    font-family: 'Mooli', sans-serif;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-decoration: none; 
}
.sideSettings svg{
    width: 0.90rem;
    height: 1rem;
}

.sideReport{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.sideReport a{
    padding-left: 0.70rem;
    color: var(--white, #FEFFFB);
    font-size: 0.80rem;
    font-style: normal;
    font-weight: 500;
    font-family: 'Mooli', sans-serif;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-decoration: none; 
}
.sideReport svg{
    width: 0.90rem;
    height: 1rem;
}


                             /* Top-nav */
                             
                             
.topNav{
    display: grid;
    grid-template-columns: 400px 400px;
    position: fixed;
    width: 80rem;
    background-color: white;
    margin-left: 11.10rem;
    margin-top: 0;
    /* margin-right: 20rem; */
    box-shadow: 0px 4px 20px 0px rgba(173, 173, 173, 0.10);
    padding: 0.50rem;
}
.search-topNav{
    display: flex;
    width: 18rem;
    height: 2rem;
    margin-left: 2rem;
    margin-top: 0.40rem;
    align-items: center;
    gap: 0.10rem;
    border-radius: 0.57694rem;
    background: var(--grey-bg, #F5F5F5);
} 
.search-topNav svg{
    padding: 0.5rem;
}        
.search-topNav input{
    width: 20rem;
    background-color: #F5F5F5;
    font-size: 0.76925rem;
    font-family: 'Mooli', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.00769rem;
    border: none;
}   
.topNav-left{
    display: grid;
    grid-template-columns: 2rem 8rem 2rem;
    grid-gap: 1rem;
    margin-left: 33rem;
} 
.topNav-bell{
    background-color: #C2FF5180;
    height: 1.70rem;
    align-items: center;
    padding: 0.2rem;
    border-radius: 0.50rem;
    margin-top: 0.4rem;
    
} 
.topNavText{
    margin-left: 1.60rem;
    font-family: 'Mooli', sans-serif;
    font-size: 0.80rem;
    font-weight: 700;
    margin-top: 4px;
} 
.topNavText small{
    font-size: 0.60rem;
    color: #BCBCBC;
}
.topNav-left img{
    border-radius: 6.25rem;
    border: 1px solid var(--lemon, #C2FF51);
    background-color: #2221252b;
    /* margin-bottom: -30rem; */
}


                                      /* Dashboard--Page */

.dashboardPage h1{
    font-family: 'Mooli', sans-serif;
    font-size: 1.80rem;
    margin-left: 3.81rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}                                

.dashboardPage{
    background-color: #222125;
    height: 90.3vh;
    width: 80rem;
    margin-left: 11.10rem;
    background: #FAFAFA;
    margin-top: 4rem;
    position: fixed;
    overflow-y: scroll;
}
.employeesCount{
    display: grid;
    grid-template-columns: 14.8rem 14.8rem 14.8rem 14.8rem;
    justify-content: center;
    grid-column-gap: 3rem;
    margin-right: 4rem;
}
.employeesCount h5{
  font-family: 'Mooli', sans-serif;
  font-size: 0.95rem;
  font-weight: 200;
  /* margin-bottom: 0.3rem; */
  padding: 0.60rem;
}
.employeesCount h3{
    font-family: 'Mooli', sans-serif;
    font-size: 1.10rem;
    margin-bottom: 0.3rem;
    padding: 0.60rem; 
}
.employeesCount small{
    background-color: #C2FF51;
    padding: 0.10rem;
    margin-right: 0.20rem;
    margin-left: 0.80rem;
    border-radius: 5px;
    font-size: 0.7rem;
    font-family: 'Mooli', sans-serif;
}
.employeesCount span{
    font-size: 0.6rem;
    margin-left: 0.40rem;
    color: #BCBCBC;
    font-family: 'Mooli', sans-serif;
}
.details{
     height: 0.80rem;
     margin-top: 1rem;
     background-color: #222125;
     border-radius: 0 0 5px 5px;
     text-align: center;
     padding: 0.90rem;
}
.details a{
    text-decoration: none;
    font-size: 0.8rem;
    color: #C2FF51;
    font-family: 'Mooli', sans-serif;
}
.totalEmps{
    background-color: #F5F5F5;
    border-radius: 0.70rem;
    box-shadow: 0px 0px 4.30334px 0px rgba(0, 0, 0, 0.05);

}
.remoteEmps{
    background-color: #F5F5F5;
    border-radius: 0.70rem;
    box-shadow: 0px 0px 4.30334px 0px rgba(0, 0, 0, 0.05);

}
.onsiteEmps{
    background-color: #F5F5F5;
    border-radius: 0.70rem;
    box-shadow: 0px 0px 4.30334px 0px rgba(0, 0, 0, 0.05);

}
.vacancies{
    background-color: #F5F5F5;
    border-radius: 0.70rem;
    box-shadow: 0px 0px 4.30334px 0px rgba(0, 0, 0, 0.05);

}


/****************** ActiveFeeds And Schedul **************/

.activeFeeds_schedul{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    justify-content: center;
    font-family: 'Mooli', sans-serif;
    margin-top: 2rem;
    margin-right: 5rem;
}
.activeFeeds_schedul h2{
    padding: 1rem;
}

/***************ActiveFeeds **************/

.activeFeeds{
    border-radius: 5px;
    background-color: #FEFFFB;
    box-shadow: 0px 0px 8.60668px 0px rgba(0, 0, 0, 0.05);
}
.activeFeeds img{
    border-radius: 5rem;
}
.chioma{
    display: flex; 
    padding: 0.8rem;
} 
.chioma small{
    color: #BCBCBC;
    font-size: 0.6rem;
}
.chioma p{
    font-size: 0.90rem;
    margin-left: 0.5rem;
}
.chioma span{
    width: 4rem;
    height: 1rem;
    padding: 0.30rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: #222125;
    color: #C2FF51;
    border-radius: 0.5rem;
    margin-left: 5rem;
    cursor: pointer;
}
.rosemary{
    display: flex; 
    padding: 0.8rem;
} 
.rosemary small{
    color: #BCBCBC;
    font-size: 0.6rem;
}
.rosemary p{
    font-size: 0.90rem;
    margin-left: 0.5rem;
}
.rosemary span{
    width: 4rem;
    height: 1rem;
    padding: 0.30rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: #222125;
    color: #C2FF51;
    border-radius: 0.5rem;
    margin-left: 5.9rem;
    cursor: pointer;
}
.saheed{
    display: flex; 
    padding: 0.8rem;
} 
.saheed small{
    color: #BCBCBC;
    font-size: 0.6rem;
}
.saheed p{
    font-size: 0.90rem;
    margin-left: 0.5rem;
}
.saheed span{
    width: 4rem;
    height: 1rem;
    padding: 0.30rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: #222125;
    color: #C2FF51;
    border-radius: 0.5rem;
    margin-left: 4.4rem;
    cursor: pointer;
}
.joy{
    display: flex; 
    padding: 0.8rem;
} 
.joy small{
    color: #BCBCBC;
    font-size: 0.6rem;
}
.joy p{
    font-size: 0.90rem;
    margin-left: 0.5rem;
}
.joy span{
    width: 4rem;
    height: 1rem;
    padding: 0.30rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: #222125;
    color: #C2FF51;
    border-radius: 0.5rem;
    margin-left: 13.7rem;
    cursor: pointer;
}
.esther{
    display: flex; 
    padding: 0.8rem;
} 
.esther small{
    color: #BCBCBC;
    font-size: 0.7rem;
}
.esther p{
    font-size: 0.90rem;
    margin-left: 0.5rem;
}
.esther span{
    width: 4rem;
    height: 1rem;
    padding: 0.30rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: #222125;
    color: #C2FF51;
    border-radius: 0.5rem;
    margin-left: 4.6rem;
    cursor: pointer;
}

/************************** schedul **********/


.schedul{
    border-radius: 5px;
    background-color: #FEFFFB;
    box-shadow: 0px 0px 8.60668px 0px rgba(0, 0, 0, 0.05);
    width: 30rem;
}
.dateBox1{
    display: flex;
    padding: 0.6rem;
}
.dBox1{
    background-color: #222125;
    padding: 0.2rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-right: 0.4rem;
}
.dBox1 p:nth-child(2){
    color: #C2FF51;
    font-size: 0.9rem;
}
.dBox1 p:nth-child(1){
    color: #BCBCBC;
    font-size: 0.9rem;
}
.dateBox1>p{
    font-size: 0.90rem;
}
.dateBox1 small{
    color: #BCBCBC;
    font-size: 0.7rem;
}

.dateBox1 svg:nth-child(3){
    margin-left: 10rem;
}
.dateBox1 svg:nth-child(4){
    margin-left: 1rem;
    padding: 0.3rem;
}
.dateBox2{
    display: flex;
    padding: 0.6rem;
}
.dBox2{
    background-color: #222125;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-right: 0.4rem;
    height: 1.9rem;
}
.dBox2 p:nth-child(2){
    color: #C2FF51;
    font-size: 0.9rem;
}
.dBox2 p:nth-child(1){
    color: #BCBCBC;
    font-size: 0.9rem;
}
.dateBox2>p{
    font-size: 0.90rem;
}
.dateBox2 small{
    color: #BCBCBC;
    font-size: 0.7rem;
}
.dateBox2 svg:nth-child(3){
    margin-left: 7.3rem;
}
.dateBox2 svg:nth-child(4){
    margin-left: 1rem;
    padding: 0.3rem;
}
.dateBox3{
    display: flex;
    padding: 0.6rem;
}
.dBox3{
    background-color: #222125;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-right: 0.4rem;
    height: 1.9rem;
}
.dBox3 p:nth-child(2){
    color: #C2FF51;
    font-size: 0.9rem;
}
.dBox3 p:nth-child(1){
    color: #BCBCBC;
    font-size: 0.9rem;
}
.dateBox3>p{
    font-size: 0.90rem;
} 
.dateBox3 small{
    color: #BCBCBC;
    font-size: 0.7rem;
}
.dateBox3 svg:nth-child(3){
    margin-left: 7.8rem;
}
.dateBox3 svg:nth-child(4){
    margin-left: 1rem;
    padding: 0.3rem; 
}
.dateBox4{
    display: flex;
    padding: 0.6rem;
}
.dBox4{
    background-color: #222125;
    padding: 0.2rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-right: 0.4rem;
    height: 2.3rem;
}
.dBox4 p:nth-child(2){
    color: #C2FF51;
    font-size: 0.9rem;
}
.dBox4 p:nth-child(1){
    color: #BCBCBC;
    font-size: 0.9rem;
}
.dateBox4>p{
    font-size: 0.90rem;
}
.dateBox4 small{
    color: #BCBCBC;
    font-size: 0.7rem;
}
.dateBox4 svg:nth-child(3){
    margin-left: 8.5rem;
}
.dateBox4 svg:nth-child(4){
    margin-left: 1rem;
    padding: 0.3rem;
}
.dateBox5{
    display: flex;
    padding: 0.6rem;
}
.dBox5{
    background-color: #222125;
    padding: 0.6rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-right: 0.4rem;
    height: 1.9rem;
}
.dBox5 p:nth-child(2){
    color: #C2FF51;
    font-size: 0.9rem;
}
.dBox5 p:nth-child(1){
    color: #BCBCBC;
    font-size: 0.9rem;
}
.dateBox5>p{
    font-size: 0.90rem;
}
.dateBox5 small{
    color: #BCBCBC;
    font-size: 0.7rem;
}

.dateBox5 svg:nth-child(3){
    margin-left: 6.8rem;
}
.dateBox5 svg:nth-child(4){
    margin-left: 1rem;
    padding: 0.3rem;
}

/************************ department-calender *****************/

.department-calender{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2rem;
    grid-column-gap: 2rem;
    font-family: 'Mooli', sans-serif;
    justify-content: center;
    margin-right: 6rem;
    margin-bottom: 1rem;
    
}

         /****************** Department *****************/

.department{
    background-color: #FEFFFB;
    box-shadow: 0px 0px 8.60668px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    padding: 1rem;
}
.department h2{
    margin-left: 1rem;

}  
.department small{
    margin-left: 1rem;
    margin-top: 0.2rem;
    font-size: 0.8rem;
}
.dept-heading{
    display: grid;
    grid-template-columns: 6.9rem 6.9rem 8rem;
    grid-column-gap: 5rem;
    margin-top: 1.8rem;
    margin-left: 1rem;
}
.rankList>li{
    display: grid;
    grid-template-columns: 6.9rem 6.9rem 15.7rem;
    grid-column-gap: 5rem;
    margin-top: 1.8rem;
    margin-left: 1rem;
    font-size: 0.90rem;
}
.rankList>li small{
    color: #BCBCBC;
    margin: 0;
    font-size: 0.7rem;
}
.rankList>li div{
    height: 1.3rem;
    width: 3rem;
    font-size: 0.7rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    text-align: center;
    font-weight: 600;
}
.rnk1>p{
   height: 1rem;
   width: 2.6rem;
   border-radius: 0.3rem;
   background-color: #C2FF51;
   text-align: center;
   padding-top: 0.3rem;
}
.rnk2>p{
   height: 1rem;
   width: 2.3rem;
   border-radius: 0.3rem;
   background-color: #C2FF51; 
   padding-top: 0.3rem;
}
.rnk3>p{
   height: 1rem;
   width: 1.9rem;
   border-radius: 0.3rem;
   background-color: #C2FF51;
   padding-top: 0.3rem;
}
.rnk4>p{
   height: 1rem;
   width: 1.9rem;
   border-radius: 0.3rem;
   background-color: #C2FF51;
   padding-top: 0.3rem;
}

     
               /************** calender *****************/

.calender{
    background-color: #FEFFFB;
    box-shadow: 0px 0px 8.60668px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    
}
.cal-heading{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1rem;
    margin-left: 1rem;
    justify-content: space-between;
    padding: 1rem;

}
.cal-heading>h5{
    background-color: #C2FF51;
    margin-right: 0.7rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
}
.cal-box{
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
    margin-top: 1rem;
    text-align: center;  
    font-size: 0.8rem;
    list-style-type: none;
    padding: 1rem;
}
.sun{
    color: #BCBCBC;
}
.mon{
    color: #BCBCBC;
}
.tue{
    color: #BCBCBC;
}
.wed{
    color: #BCBCBC;
}
.thu{
    color: #BCBCBC;
}
.fri{
    color: #BCBCBC;
}
.sat{
    color: #BCBCBC;
}
.t30{
    color: #BCBCBC;
}
.t2{
    background-color: #bcbcbc6f;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
}
.s7{
    background-color: #bcbcbc6f;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
}
.e11{
    background-color: #bcbcbc6f;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
}
.f15{
    background-color: #bcbcbc6f;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
}
.t20{
    background-color: #222125;
    color: #C2FF51;
    height: 1.1rem;
    width: 1.2rem;
    border-radius: 1rem;
}
.t21{
    background-color: #bcbcbc6f;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
}